* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

*,*::after,::before {
    box-sizing: border-box;
}


button {
    cursor: pointer;
}

.container {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1440px) {
    .container {
        width: 1200px;
    }
}